{{define "aboutUs"}}
<!DOCTYPE html>
<html>
<title>Hub City Fitness</title>


<body>
  {{template "header"}}
  <link rel="stylesheet" href="css/aboutUs.css">

<!-- Header -->
<header class="w3-container w3-theme-d2 w3-center" style="padding:20px 1px">
  <h1 class="w3-margin w3-jumbo">About Us</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src="images/holdinghands.png" style="width:100%; height: 400px; padding:50px" class = "w3-padding-64 w3-text-red w3-margin-right">
    </div>

    <div class="w3-twothird">
      <h1>Activities</h1>
      <p class="w3-text-grey">We want to do all we can to helpn our clients, so we provide many amenitites for all ages, We provide many amendities for all ages. We provide childcare and sport activites for kids so you can focus on your goals. We offer daily Hip Hop Dance, Zumba, and Spin Class.</p>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src="images/running.png" style="width:100%; height: 400px; padding:50px" class = "w3-padding-64 w3-text-red w3-margin-right">
    </div>

    <div class="w3-twothird">
      <h1>Community</h1>
      <p class="w3-text-grey">Here at Hub City Fitness, we strive  to provide a comfortable enviroment for our clients to achieve their goals. Whether your are a novice or experienced in working out, we want to meet your needs and goals with a comfortable and fun enviroment.</p>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src="images/weights.png" style="width:100%; height: 400px; padding:50px" class = "w3-padding-64 w3-text-red w3-margin-right">
    </div>

    <div class="w3-twothird">
      <h1> Training </h1>
      <p class="w3-text-grey" >We want to provide our clients with what they need to obtain your fitness goals, so we offer personal trainers to help you meet them. In addition to physical training, we offer a learning kitchen to help clients make healthy and nutritional meals </p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center w3-opacity">

 <a href="https://www.facebook.com/Hub-City-Fitness-1887514424614943/?modal=admin_todo_tour">
 <img src="images/facebook.ico"style="width:42px;height:42px;" >
</a>

<a href="https://twitter.com/CityHubFitness">
<img src="images/twitter.ico" style="width:42px;height:42px;" >
</a>

<a href="https://www.instagram.com/gymprojectfit/">
<img src="images/inst.ico" style=";width:42px;height:42px;">
</a>
<p style="color:white">Copyright 2018</p>
</footer>

<script src="js/mainPage.js"></script>

</body>
</html>
{{end}}
