{{define "schedule"}}
<!DOCTYPE html>
<html>


<body>
{{template "header" .}}
<link rel="stylesheet" href="css/schedule.css">

<br/>
<br/>
<br/>
<iframe src="https://calendar.google.com/calendar/b/4/embed?showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ff0000&amp;src=nolanmccorkle%40gmail.com&amp;color=%23B1365F&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<br/>
<a href="contactme.html" style="color:white">Email us to schedule personalized training appointments!</a>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center w3-opacity">
<p style="color:white">Copyright Timothy Bell | Logan Power 2018</p>
</footer>

</body>
</html>
{{end}}
